<form (ngSubmit)="save()" [formGroup]="contestForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" id="contest-title" placeholder="Contest title" formControlName="title" required />
    <mat-error *ngIf="contestForm.get('title').invalid">
      <span *ngIf="contestForm.get('title').errors.required">Please enter a title.</span>
    </mat-error>
  </mat-form-field>

  <div formGroupName="dateGroup">
    <mat-form-field>
      <mat-label>Starts</mat-label>
      <input matInput id="contest-started-on" placeholder="Pick a start date" [matDatepicker]="startDatepicker" formControlName="startedOn" required />
      <mat-error *ngIf="contestForm.get('dateGroup.startedOn').invalid">
        <span *ngIf="contestForm.get('dateGroup.startedOn').errors.required">Please pick a start date.</span>
        <span></span>
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="startDatepicker">
        <i class="far fa-calendar" matDatepickerToggleIcon></i>
      </mat-datepicker-toggle>
      <mat-datepicker #startDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ends</mat-label>
      <input matInput id="contest-ended-on" placeholder="Pick an end date" [matDatepicker]="endDatepicker" formControlName="endedOn" required />
      <mat-error *ngIf="contestForm.get('dateGroup.endedOn').invalid">
        <span *ngIf="contestForm.get('dateGroup.endedOn').errors.required">Please pick an end date.</span>
        <span></span>
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="endDatepicker">
        <i class="far fa-calendar" matDatepickerToggleIcon></i>
      </mat-datepicker-toggle>
      <mat-datepicker #endDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-error *ngIf="contestForm.get('dateGroup').invalid && contestForm.get('dateGroup').errors">
      <span *ngIf="contestForm.get('dateGroup').errors.invalidDateRange">Contest cannot start after it ends.</span>
    </mat-error>
  </div>

  <button mat-button color="primary" type="submit" [disabled]="!contestForm.valid">
    <i class="far fa-save"></i>
    Save Contest
  </button>

  <button mat-button (click)="cancel()">
    <i class="far fa-chevron-circle-left"></i>
    Cancel Edit
  </button>

  <button mat-button color="warn" (click)="delete()" *ngIf="contest.id">
    <i class="far fa-trash"></i>
    Delete Contest
  </button>
</form>
